.navbar-container {
    font-family: 'Secular One', sans-serif;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em;
    background-color: transparent;
    background-color: #06102d;
    background-color: #0c0c1d;
    box-shadow: 0px 5px 10px #ccc;
    color: #ccc;
}
.navbar-brand {
    font-size: 20px;
    font-family: 'Secular One', sans-serif;
}
.navbar-brand h1 {
    margin: 0;
    
}
.navbar-links {
    display: flex;
    gap: 1em;
    padding: 0;
}
.navbar-links li {
    list-style: none;
}
.navbar-links a {
    text-decoration: none;
    color: black;
    color: white;
}
.active {
    box-sizing: border-box;
    border: 3px solid #6052e0;
    border-radius: .5em;
    padding: .5em;
}